# Visual Studio
.vs/
x64/
Debug/
Release/
*.vcxproj.user
*.VC.db
*.opendb

# Build outputs
build/
*.exe
*.obj
*.ilk
*.pdb
*.lib

# Editor settings
.vscode/

# Archives
third_party/*.zip

# Temporales
*.vcf~
*.tmp

# Sistema
Thumbs.db
.DS_Store